@model IEnumerable<Cours>

<h2>Liste des cours</h2>

@if (Model == null || !Model.Any())
{
    <p>Aucun cours trouvé pour cet étudiant.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Heure Début</th>
            <th>Heure Fin</th>
            <th>Nbre Heure</th>
            <th>Semestre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cours in Model)
        {
            <tr>
                <td>@cours.Id</td>
                <td>@cours.HeurDebut</td>
                <td>@cours.HeureFin</td>
                <td>@cours.NombreHeure</td>
                <td>@cours.Semestre</td>
            </tr>
        }
        </tbody>
    </table>
}